<div class="container text-center">
    <div class="hero-section">
        <h1 class="hero-title">COLLABORATE</h1>
        <p class="hero-subtitle">Join our team and enhance your productivity.</p>
        
        <div class="button-group">
            <%= link_to "Sign Up", new_user_registration_path, class: "btn btn-primary btn-lg" %>
            <%= link_to "Login", new_user_session_path, class: "btn btn-secondary btn-lg" %>
        </div>
    </div>

    <!-- Animated Images -->
    <%= image_tag 'collab.png', alt: 'collab' , class: "image1" %>
    <%= image_tag 'people-team.png', alt: 'Teams' , class: "image1" %>
</div>
