<nav class="navbar">
  
  <%if user_signed_in?%>
    
    <%else%>
      <%= image_tag 'Logo.png', alt: 'Logo' , class: "Logo_img" %>
      <a class="navbar-brand" href="/">TEAMS</a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
  <%end%>
</nav>